<!DOCTYPE html>

<html lang="en" style= height 100%;">
<head>
<bg
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- Styling -->
    <style>
        body, html {
            height: 100%;
            width:  100%;
        }
	.bg {

            background-image: linear-gradient(to right,powderblue , #cc8168);
	    height: 100%;
            width:100%;
            background-position: center;
            background-size: cover;
        }
    </style>

  <body class=bg>
  <div id="Marketing" class="w3-right w3-hide-small w3-wide toptext" style="font-family:'Segoe UI',Arial,sans-serif">
  <font size="+5">
  <b>
  <bg style="background-color:#4e9c57;">
    Marketing Work
  </bg>
  </b>
  </font>
  </div>
  </body>
  <div class ="coloumn">
  <h4 style="background-color:DodgerBlue;">Text</h4>
  <textarea name="status" id="status" class="form-control"></textarea>
  

  </

  </body>
